@using BlazorCountries.Data
@page "/countriesaddedit/{CountryId:int}"
@inject ICountriesService CountriesService
@inject NavigationManager NavigationManager

<h1>@pagetitle</h1>

<SfDialog IsModal="true" Width="500px" ShowCloseIcon="false" Visible="true">
    <h5>@pagetitle</h5>
    <br />
    <EditForm Model="@countries" OnValidSubmit="@CountriesSave">
        <div>
            <SfTextBox Enabled="true" Placeholder="Country"
                       FloatLabelType="@FloatLabelType.Always"
            @bind-Value="countries.CountryName"></SfTextBox>
        </div>
        <br /><br />
        <div class="e-footer-content">
            <div class="button-container">
                <button type="submit" class="e-btn e-normal e-primary">Save</button>
                <button type="button" class="e-btn e-normal" @onclick="@Cancel">Cancel</button>
            </div>
        </div>
    </EditForm>
</SfDialog>

@code {
    //Create a new, empty Countries object
    Countries countries = new Countries();

    [Parameter]
    public int CountryId { get; set; }
    public string pagetitle = "Add a Country";

    //Excecutes OnValidSubmit of EditForm above.
    protected async Task CountriesSave() {
        if(CountryId == 0) {
            await CountriesService.CountriesInsert(countries);
        }
        else {
            await CountriesService.CountriesUpdate(countries);
        }
        NavigationManager.NavigateTo("/");
    }

    //Executes if user clicks the Cancel Button.
    void Cancel() {
        NavigationManager.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync() {
        if (CountryId == 0) {
            pagetitle = "Add a Country";
        }
        else {
            pagetitle = "Edit a Country";
            countries = await CountriesService.CountriesGetOne(CountryId);
        }
    }
}