@using BlazorCountries.Data
@page "/countriesaddedit/{CountryId:int}"
@inject ICountriesService CountriesService
@inject NavigationManager NavigationManager

<h1>@pagetitle</h1>

<SfDialog IsModal="true" Width="500px" ShowCloseIcon="false" Visible="true">
    <h5>@pagetitle</h5>
    <br />
    <EditForm Model="@countries" OnValidSubmit="@CountriesSave">
        <DataAnnotationsValidator/>
        <div>
            <SfTextBox Enabled="true" Placeholder="Country"
                       FloatLabelType="@FloatLabelType.Always"
                       @bind-Value="countries.CountryName">
            </SfTextBox>
            <ValidationMessage For = "@(()=> countries.CountryName)"/>
        </div>
        <br /><br />
        <div class="e-footer-content">
            <div class="button-container">
                <button type="submit" class="e-btn e-normal e-primary">Save</button>
                <button type="button" class="e-btn e-normal" @onclick="@Cancel">Cancel</button>
            </div>
        </div>
    </EditForm>
</SfDialog>

<SfDialog @ref="DialogWarning" IsModal = "true" Width="250px" ShowCloseIcon="true" Visible="false">
    <DialogTemplates>
        <Header> Warning! </Header>
        <Content> This country already exists! It won't be added again. </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Ok" IsPrimary="true" OnClick="@CloseDialog"/>
    </DialogButtons>
</SfDialog>

@code {
    //Create a new, empty Countries object
    Countries countries = new Countries();

    [Parameter]
    public int CountryId { get; set; }
    public string pagetitle = "Add a Country";
    SfDialog DialogWarning;


    protected override async Task OnInitializedAsync() {
        if (CountryId == 0) {
            pagetitle = "Add a Country";
        }
        else {
            countries = await CountriesService.CountriesGetOne(CountryId);
            pagetitle = "Edit a Country";
        }
    }

    //Excecutes OnValidSubmit of EditForm above.
    protected async Task CountriesSave() {
        if (CountryId == 0) {
            int Success = await CountriesService.CountriesInsertWithDuplicateChecking(countries.CountryName);
            if(Success != 0) {
                await OpenDialog();
            }
            else {
                NavigationManager.NavigateTo("/");
            }
        }
        else {
            int Success = await CountriesService.CountriesUpdateWithDuplicatesChecking(countries);
            if(Success != 0) {
                //Country Name already exists
                await this.OpenDialog();
            }
            else {
                NavigationManager.NavigateTo("/");
            }
        }
    }

    private async Task OpenDialog() {
        await this.DialogWarning.Show();
    }

    private async Task CloseDialog(){
        await this.DialogWarning.Hide();
        NavigationManager.NavigateTo("/");
    }

    //Executes if user clicks the Cancel Button.
    void Cancel() {
        NavigationManager.NavigateTo("/");
    }
    
}